/* Denna fil får du editera för att lösa uppgiften. Du får INTE ändra i html-filen. */

/*Layout*/

#menu a {
    display: none;
}
#container {
   overflow: auto;
   width: 600px;
   margin: 0 auto;
   border: 1px solid #cecab9;
}
#topbar {
    height: 225px;
    background-image: url("pics/coffey.jpg");
    background-repeat: no-repeat;
    background-position: 0 20px;
}
#menu ul {
    float: left;
    width: 600px;
    margin: 0; 
    padding: 0;
}
#menu li {
    float: left;
    display: inline;
}
#content {
    width: 600px;
}
#maincontent {
    width: 330px;
    float: left;
    margin-right: 20px;
    padding-left: 10px;
}
#maincontent img {
    float: left;
    margin-right: 5px;
}
#subcontent {
    width: 220px;
    float: left;
    margin-top: 15px;
    padding-left: 10px;
    border-left: 1px dashed #c0c0c0;
}
#bottomcontent {
    clear: both;
    padding-left: 10px;
    padding-bottom: 10px;
}

/*Colors*/

#container {
    background-color: #f0f0f0;
}
#topbar {
    background-color: #51473d;
}
#menu {
    background-color: #51473d;
}
#content {
    background-color: #eae7d2;
}

/*Font*/

#container { 
    font-family: verdana, sans-serif;
}
h1, h2 {
    font-family: times, serif;
    font-weight: normal;
}
#topbar {
    font-size: 10px;
    color: #eae7d2;
    font-style: italic;
    padding: 2px;
    text-align: right;
}
#menu ul {
    background-color: #51473d;
    border-bottom: 1px solid #fff;
}
#menu li:first-child {
    margin-left: 15px;
}
#menu li {
    display: block;
    text-decoration: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
    padding-left: 20px;
    margin-right: 1px;
    background-color: #797066;
}
#menu li:hover {
    background-color: #9c9084;
    color: #f0f0f0;
}
#menu li.active {
    background-color: #eae7d2;
    border-bottom: 1px solid #eae7d2;
    margin-bottom: -1px;   
}
#menu li.active a {
    color: #7a6e60;
}
#menu li a {
    display: block;
    font-size: 14px;
    color: #eae7d2;
    text-decoration: none;
    text-transform: capitalize;
}
#maincontent {
    font-size: 12px;
    color: #7a6e60;
    line-height: 22px;
}
#maincontent h1 {
    font-size: 32px;
}
#subcontent {
    font-size: 9px;
    color: #797066;
    line-height: 22px;
}
#subcontent h1 {
    font-size: 18px;
}
#subcontent h2 {
    margin-bottom: -15px;
}
#subcontent ul {
    list-style-type: none;
    padding: 0;
    font-size: 13px;
}
#subcontent li a{
     color: #51473d;
}
#bottomcontent {
    font-size: 10px;
    color: #7a6e60;
    font-style: italic;
}
